body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%;
    line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("images/city.gif");
    min-height: 100%;
}

.logo{
    width: auto;
    height:400px;
    position: absolute;
    margin:150 0 20 750;
}
.w3-bar .w3-button {
    padding: 16px;
}


.cimage img{
    width: auto;
    height: 250px;
    padding:10px;
}

.bmx{
    margin: 0 50px;
}

.cus{
    margin: 0 50px;
}